src/main/resources/etcd_action.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/permissionssearch/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="key" type="xs:string" />
  <xs:element name="value" type="xs:string" />
  <xs:element name="action" type="xs:string" />
  <xs:element name="ttl" type="xs:integer" />

</xs:schema>
